<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wgj.multiImage">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:allowBackup="true">

        <activity
            android:name=".MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize"/>

    </application>

</manifest>
